/* 
#212517
#374709
#759242
#DED3A6
#F2F2EF 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #F2F2EF;
  color: #212517;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}